* {
  padding: 0;
  margin: 2px;
  box-sizing: border-box;
}

body {
  background-image: url("../bg.png");
  background-size: cover;
  background-position: left top;
  font-family: "Zilla Slab", serif;
}

/* blog section css here  */
#Header-title{
  color: white;
  text-align: center;
  border:3px solid #9dffad ;
  /* margin: 10px; */
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 5px;
}

.custom-color{
background-color: rgb(27, 22, 22);
color: white;
 
}

.divider-container {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 0 auto;
}
.line {
  height: 2px;
  background: white;
  width: 100%;
}

.title2 {
  color: white;
  display: block;
}

